#main {width:980px; margin:0 auto; position:relative;}

#header {
	height:139px;
	background-color: #7b8cab;
}
#header, #content, #footer { font-size:0.875em;}

.col-1, .col-2, .col-3 { float:left;}

/*======= index.html =======*/
#page1 #content .col-1 {width:280px; margin-right:15px;}
#page1 #content .col-2 { width:632px;}
#page1 #content .col-2 .row-1 .col-1 { width:192px; margin-right:0; padding: 10px 22px 0 0;}
#page1 #content .col-2 .row-1 .col-2 { width:192px; margin-right:0; padding: 10px 22px 0 0;}
#page1 #content .col-2 .row-1 .col-3 { width:192px; margin-right:0; padding: 10px 0px 0 0;}
#page1 #content .col-2 .row-2 .col-1 { width:261px; margin-right:50px;}
#page1 #content .col-2 .row-2 .col-2 { width:261px;}

/*======= .html =======*/
#pagex #content .col-1 {width:280px; margin-right:15px;}
#pagex #content .col-2 { width:632px;}
#pagex #content .col-2 .row-1 .col-1 { width:215px; margin-right:0;}
#pagex #content .col-2 .row-1 .col-2 { width:407px;}
#pagex #content .col-2 .row-2 .col-1 { width:234px; margin-right:0;}
#pagex #content .col-2 .row-2 .col-2 { width:388px;}

/*======= moisture.html =======*/
#page2 #content .col-1 {width:280px; margin-right:15px;}
#page2 #content .col-2 { width:632px;}
#page2 #content .col-2 .row-1 .col-1 { width:295px; margin-right:0; padding-right: 28px}
#page2 #content .col-2 .row-1 .col-2 { width:260px;}
#page2 #content .col-2 .row-2 .col-1 { width:200px; margin-right:22px;}
#page2 #content .col-2 .row-2 .col-2 { width:350px;}
#page2 #content .col-2 .row-2 {padding-bottom:22px;}

/*======= otherservices.html =======*/
#page3 #content .col-1 {width:280px; margin-right:15px;}
#page3 #content .col-2 { width:632px;}
#page3 #content .col-2 .row-1 .col-1 { width:192px; margin-right:0; padding: 10px 22px 0 0;}
#page3 #content .col-2 .row-1 .col-2 { width:192px; margin-right:0; padding: 10px 22px 0 0;}
#page3 #content .col-2 .row-1 .col-3 { width:192px; margin-right:0; padding: 10px 0px 0 0;}
#page3 #content .col-2 .row-2 .col-1 { width:261px; margin-right:50px;}
#page3 #content .col-2 .row-2 .col-2 { width:261px;}

/*======= resources.html =======*/
#page4 #content .col-1 {width:280px; margin-right:15px;}
#page4 #content .col-2 { width:632px;}

/*======= sssir.html =======*/
#page5 #content .col-1 {width:280px; margin-right:15px;}
#page5 #content .col-2 { width:632px;}
#page5 #content .col-2 .row-1 .col-1 { width:278px; margin-right:0; padding-right: 65px}
#page5 #content .col-2 .row-1 .col-2 { width:278px;}
#page5 #content .col-2 .row-3 .col-1 { width:192px; margin-right:0; padding: 10px 22px 0 0;}
#page5 #content .col-2 .row-3 .col-2 { width:192px; margin-right:0; padding: 10px 22px 0 0;}
#page5 #content .col-2 .row-3 .col-3 { width:192px; margin-right:0; padding: 10px 0px 0 0;}

/*======= contactus.html =======*/
#page6 #content .col-1 {width:280px; margin-right:15px;}
#page6 #content .col-2 { width:632px;}
#page6 #content .col-2 .row-1 .col-1 { width:237px; margin-right:66px;}
#page6 #content .col-2 .row-1 .col-2 { width:237px;}
#page6 #content .col-2 .row-2 .col-1 { width:295px; margin-right:0;}
#page6 #content .col-2 .row-2 .col-2 { width:326px;}

/*======= aboutus.html =======*/
#page7 #content .col-1 {width:280px; margin-right:15px;}
#page7 #content .col-2 { width:632px;}
#page7 #content .col-2 .col-1 { width:120px; margin-right:0;}
#page7 #content .col-2 .col-2 { width:490px;}

/*======= moistureinstrusion.html =======*/
#page8 #content .col-1 {width:280px; margin-right:15px;}
#page8 #content .col-2 { width:632px;}
#page8 #content .col-2 .row-1 .col-1 { width:278px; margin-right:0; padding-right: 65px}
#page8 #content .col-2 .row-1 .col-2 { width:278px;}
#page8 #content .col-2 .row-3 .col-1 { width:192px; margin-right:0; padding: 10px 22px 0 0;}
#page8 #content .col-2 .row-3 .col-2 { width:192px; margin-right:0; padding: 10px 22px 0 0;}
#page8 #content .col-2 .row-3 .col-3 { width:192px; margin-right:0; padding: 10px 0px 0 0;}


/*=========================*/


#footer {height:75px; background:#7b8cab;}
